<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.spring.myweb.snsboard.mapper.ISnsBoardMapper">

	<insert id="insert">
		INSERT INTO snsboard
		(bno, writer, upload_path, file_loca, file_name, file_real_name, content)
		VALUES
		(snsboard_seq.NEXTVAL, #{writer}, #{uploadPath},
		 #{fileLoca}, #{fileName}, #{fileRealName}, #{content})
	</insert>
	
	<select id="getList" resultType="sns">
	SELECT tbl2.*,
	(SELECT COUNT(*) FROM sns_like WHERE bno = tbl2.bno) AS like_cnt
	 FROM
		(
		SELECT ROWNUM AS rn, tbl.*
			FROM
			(
			SELECT * FROM snsboard
			ORDER BY bno DESC
			) tbl
		)tbl2
	<![CDATA[
	WHERE rn > #{pageStart}
	AND rn <= #{pageEnd}
	]]>
	</select>
	
	<select id="getDetail" resultType="sns">
        SELECT * FROM snsboard
        WHERE bno = #{bno}
    </select>
    
    <delete id="delete" > <!-- resultType 필요없다? -->
    	DELETE FROM snsboard
    	WHERE bno = #{bno}   	
    </delete>
	
	<!-- 좋아요 기능 -->
	
	<select id="searchLike" resultType="int">
		SELECT COUNT(*) FROM sns_like
		WHERE bno =#{bno} AND user_Id = #{userId}
	</select>
	
	<insert id="createLike">
		INSERT INTO sns_like
		VALUES(sns_like_seq.NEXTVAL, #{userId}, #{bno})
	</insert>
	
	<delete id="deleteLike">
		DELETE FROM sns_like
		WHERE bno =#{bno} AND user_id = #{userId}
	</delete>
	
</mapper>


























